.home {

	.block__central {
		padding: 0;
		position: relative;
		z-index:99999999;
		@include mq(lap) { 
			position: absolute;
			top:2em;
			left:2em;
			width: 100%;
		}

		.entry-header {
			margin:1.4em 0 0.7em;
			border-bottom: 4px solid $color-principal;
			padding-bottom: 0.4em;
			color: #515151;
			line-height: 1.2em;
		}

		.entry-title {
			border-bottom: none;
			margin: 0;
			padding: 0;
			font-family: 'ralewayregular';
			@include font-size( 14px );
		}

		.entry-content {
			margin: 0;
		}

	}

	//modification pour les u asiat
	#block__central-120, #block__central-110, #block__central-117, 
	#block__central-145, #block__central-123, #block__central-127
	{

		.entry-header {
			border-bottom: 4px solid $color-red;
		}
	}

	.block__central--home-text {
		display: inline-block;
		width:30%;
		vertical-align: top;
		padding: 1.5em 1.25em 1em;
		// @include mq(lap) { min-height: 500px;}
		// @include mq(tablet) { min-height: 400px; }
		// @include mq(phone) { width: 100%; }
		// @include mq(lap) { width: 100%; }

		.read-more {
			position: relative;
			display: inline-block;
			background: #4d4d4d;
			color:#fff;
			padding: 0.5em 3em;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			font-family: 'ralewaymedium';
			transition: 0.1s all linear;
			@include font-size( 14px );

			&::before {
				content: "";
				position: absolute;
				z-index: 100;
				top:50%;
				left:2em;
				transform: translate(0, -50%);
				border-left: 5px solid #fff;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				transition: 0.1s all linear;
			}

			&:hover {
				background: #6c6c6c;

				&::before {
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					transform: translate(0.35em, -50%);
				}
			}
		}
	}

	.block__central--home-image {
		display: inline-block;
		width:70%;
		vertical-align: top;	
		// @include mq(lap) { width: 100%; }
	}

	.block__university--campus {

		img {
			display: block;
		}
	}

	.block__university--logo {
		width: 45%;
		margin-top: 1.5em;
	}

	#bt_modal {
		background: transparent;
		border:none;
		box-shadow:none;
		display: block;
		padding: 8px 6em 2em 10px;
	}

	.bt_modal-close {
		position: absolute;
		right: 0;
		top:0;
		border: none;
		color:#000;
		background:#fff;
		font-size: 1.4em;
		padding: 0.2em 0.4em;
		font-family: 'ralewaylight';
		transition: .2s all linear;

		&:hover {
			background: $color-principal;
			color:#fff;
		}
	}

	.block__central--inactive {
		display: none;
	}

}