.content-area {
	background: #dddddd;
	text-align: center;
}

.site-main {
	position: relative;
	padding: 3.5em 2em;
	width: 100%;
	min-height: 627px;
	max-width:1400px;
	margin: 0 auto;

	.block__central {
		position:relative;
		z-index: 10;
		float: left;
		width: 70%;
		margin-right: 2.5%;
		background: #fff;
	}

	.block__sidebar {
		position:relative;
		z-index: 10;
		width: 27.5%;
		float: left;
	}

	.block__carte {
		display: block;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

}
