.block__sidebar {

	.block__news {
		background: $color-principal;
		text-align: left;
		padding: 0.8em 1em;
		color:#fff;
		min-height: 392px;
	}

	.entry-title--news {
		padding-bottom: 0.25em;
		border-bottom: 2px solid #fff;
		text-transform: uppercase;
		@include font-size( 18px );

		a {
			color:#353535;
		}
	}

	.block--article__news {
		line-height: 1em;
		// margin-bottom: 1.25em;

		&:first-of-type {
			padding-bottom: 0.5em;
			border-bottom: 1px solid #fff;
			margin-bottom: 0.75em;
		}

		.entry-title {
			margin-bottom: 0;
			font-family: 'ralewaymedium';
			@include font-size( 16px );
		}

		.entry-date {
			@include font-size( 14px );
		}

		.entry-content {
			margin: 0.25em 0 0;

			p {margin:0;}
		}

		.read-more {
			color: #4d4d4d;
			text-decoration: underline;
			@include font-size( 12px );
		}
	}

}

.block__apply {
	display: block;
	width: 100%;
	margin-bottom: 0.25em;
	background: #4d4d4d;

	.bt_apply {
		position: relative;
		display: block;
		padding: 0.5em 0;
		text-transform: uppercase;
		color:#fff;
		font-family: 'ralewaymedium';
		transition: 0.1s all linear;
		@include font-size( 20px );
		@include mq(tablet) { text-align: left; padding-left: 2.5em;}
		@include mq(phone) { text-align: left; padding-left: 2.5em;}

		&::before {
			content: "";
			position: absolute;
			z-index: 100;
			top:50%;
			left:20%;
			transform: translate(0, -50%);
			border-left: 10px solid #fff;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			transition: 0.1s all linear;
			@include mq(tablet) { left: 1em;}
			@include mq(phone) { left: 1em;}
		}

		&:hover {
			background: #6c6c6c;

			&::before {
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				transform: translate(0.5em, -50%);
			}
		}
	}
}


//page news
.block__central--news {

	.entry-header__global {
		text-transform: uppercase;
		color: #515151;
		margin-bottom: 2em;
		@include font-size( 18px );
	}

	.entry-header {
		margin:1.4em 0 0.8em;
		border-bottom: 4px solid $color-principal;
		padding-bottom: 0.6em;
		color: #515151;
		line-height: 1.2em;
	}

	.entry-title {
		border-bottom: none;
		margin: 0;
		padding: 0;
		font-family: 'ralewaymedium';			
		@include font-size( 16px );
	}

	.entry-date {
		@include font-size( 14px );
	}

	.entry-content {
		margin: 0;
	}

}