.tooltipster-blue {
	border-radius: 0px; 
	border-top: 5px solid $color-principal;
	background: #fff;
	color: #515151;
}
.tooltipster-red {
	border-radius: 0px; 
	border-top: 5px solid $color-red;
	background: #fff;
	color: #515151;
}
.tooltipster-red-bottom {
	border-radius: 0px; 
	border-bottom: 5px solid $color-red;
	background: #fff;
	color: #515151;
}
.tooltipster-content {
	line-height: 16px;
	@include font-size( 13px );

	.tool-university {
		font-family: 'ralewaybold';
		margin-bottom: 0;
	}

	.tool-city {
		font-family: 'ralewaymedium';
		text-transform: uppercase;
	}

	.tool-country {
		font-family: 'ralewayregular';
	}
}