/*--------------------------------------------------------------
5.1 Menus socail et langues, Newsletter
--------------------------------------------------------------*/
.menu-footer{
	// padding: 1em 0 0;

	ul {
		list-style:none;
		margin: 0;
	}


	li {
		vertical-align: middle;
		display: inline-block;
		padding: 0 2em;
		border-right: 1px solid $color-principal;
		line-height: 1em;
		transition: .2s all linear;
		@include mq(lap) { padding: 0 1em; }
		@include mq(tablet) { padding: 0 .6em; }
		@include mq(phone) {
			width:100%;
			padding: 0 0 0 1em;
			border-right:none;
			border-top: 1px solid $color-principal;

			&:hover {
				background: $color-principal;
			}
		}

		&:last-child {
			border-right: none;
			@include mq(phone) {
				border-bottom: 1px solid $color-principal;
			}
		}
	}

	a {
		color:$color-principal;
		font-family: 'dosisregular';
		font-weight: normal;
		text-transform:uppercase;
		transition: .2s all linear;
		@include font-size( 23px );
		@include mq(phone) { 
			width:100%;
			display: block;
			padding: .5em 0;
			@include font-size( 16px );

			&:hover {
				color: #fff;
			}
		}
	}

	//========= menu linkedin
	#menu-item-77 {
		padding: 0 0 0 1em;
		vertical-align: top;
		@include mq(phone) { padding: 0.5em 0 0.5em 1em; }
	}

	a[href*="linkedin.com"] {
		background: url('../../../img/icon-linkedin.svg') no-repeat center center #6c6c6c;
		display: block;
		width: 30px;
		height: 30px;
		text-align: center;
		text-indent: -9999px;

		&:hover {
			background-color: $color-principal;
		}
	}
}