.content-area {
	background: #dddddd;
	text-align: center;
	background: url('../../../img/bgline.png') #DDDDDD;
}

.site-main {
	position: relative;
	padding: 1.5em 2em;
	width: 100%;
	min-height: 627px;
	height:100%;
	max-width:1440px;
	margin: 0 auto;
	@include mq(lap) { padding: 1em 1em; min-height: 630px;  }
	@include mq(tablet) { padding: 1em 1em; min-height: 500px; }
	@include mq(phone) { padding: 1.5em 0.5em; }

	.block__central {
		position:relative;
		text-align: left;
		z-index: 10;
		float: left;
		width: 73.5%;
		margin-right: 1.5%;
		padding: 2em 2.5em;
		background: #fff;
		@include mq(lap) { width: 68.5%; }
		@include mq(tablet) { width: 100%; float:none; padding: 1.5em;}
		@include mq(phone) { width: 100%; float:none; padding: 1em}
	}

	.block__sidebar {
		position:relative;
		z-index: 10;
		width: 25%;
		float: right;
		@include mq(lap) { width: 30%; }
		@include mq(tablet) { width: 100%; float:none;  margin-top: 0.25em;}
		@include mq(phone) { width: 100%; float:none; margin-top: 1.5em;}
	}

	.block__carte {
		display: block;
		margin: 0 auto;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		top:0;
		left:0;
	}

}

// .page, .single, .home {

	.site-main {

		p, ul, ol {
			font-size: 0.75em;
		}

	}
// }

.block__central {

	.entry-header {
		margin:1.4em 0 0.8em;;
	}

	.entry-title {
		border-bottom: 4px solid $color-principal;
		padding-bottom: 0.6em;
		margin: 0;
		@include font-size( 18px );
	}

	.block__apply--content {
		display: inline-block;
		width: 15em;
		text-align: center;
		@include mq(tablet) { width: auto; }
		@include mq(phone) { width: auto; }

		.bt_apply {
			display: block;
			padding: 0.5em 0;
			color:#fff;
			text-decoration: none;
			@include mq(tablet) { padding: 0.5em 2.5em;}
			@include mq(phone) { padding: 0.5em 2.5em;}
		}
	}

	.read-more {
			position: relative;
			display: inline-block;
			background: #4d4d4d;
			color:#fff;
			// padding: 0.5em 3em;
			padding: 0.3em 2em;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			font-family: 'ralewaymedium';
			transition: 0.1s all linear;
			@include font-size( 14px );

			&::before {
				content: "";
				position: absolute;
				z-index: 100;
				top:50%;
				left:1em;
				transform: translate(0, -50%);
				border-left: 5px solid #fff;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				transition: 0.1s all linear;
			}

			&:hover {
				background: #6c6c6c;

				&::before {
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					transform: translate(0.35em, -50%);
				}
			}
		}

	h4 {
		padding-bottom:0.5em;
		border-bottom: 1px dotted #000;
		@include font-size( 14px );
	}

	a {
		color:$color-principal;
		text-decoration: underline;
	}

}

.block__breadcrumb {
	position: relative;
	text-align: left;

	p {
		position: relative;
		display: inline-block;
		background: #fff;
		padding: 0.5em 10em 0.5em 1em;
		color: $color-principal;
		border-left: 5px solid $color-principal;
		@include mq(tablet) { padding-right: 1em;}
		@include mq(phone) { padding-right: 1em;}

		&::after {
			content: "";
			position: absolute;
			left: 100%;
			top: 0;
			border-left: 0px solid #fff;
			border-bottom: 36px solid #fff;
			border-right: 20px solid transparent;
			@include mq(tablet) { display: none;}
			@include mq(phone) { display: none;}
		}
	}

	a {
		color: #000;
	}

	span span {
		color:#000;
		margin: 0 0.5em;
	}
}