.content-area {
	background: #dddddd;
	text-align: center;
}

.site-main {
	position: relative;
	background: #DDDDDD;
	padding: 3.5em 2em;
	width: 100%;
	min-height: 627px;
	height:100%;
	max-width:1400px;
	margin: 0 auto;

	.block__central {
		position:relative;
		text-align: left;
		z-index: 10;
		float: left;
		width: 70%;
		margin-right: 2.5%;
		padding: 2em 2.5em;
		background: #fff;
	}

	.block__sidebar {
		position:relative;
		z-index: 10;
		width: 27.5%;
		float: right;
	}

	.block__carte {
		display: block;
		margin: 0 auto;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

}

// .page, .single, .home {

	.site-main {

		p, ul, ol {
			font-size: 0.7em;
		}

	}
// }

.block__central {

	.entry-header {
		margin:1.4em 0 0.8em;;
	}

	.entry-title {
		border-bottom: 4px solid $color-principal;
		padding-bottom: 0.6em;
		margin: 0;
		@include font-size( 18px );
	}

	.block__apply--content {
		display: inline-block;
		width: 20em;
		text-align: center;

		.bt_apply {
			display: block;
			padding: 0.5em 0;
			color:#fff;
			text-decoration: none;
		}
	}

	h4 {
		padding-bottom:0.5em;
		border-bottom: 1px dotted #000;
		@include font-size( 14px );
	}

	a {
		color:$color-principal;
		text-decoration: underline;
	}

}