.page, .single {

	.site-main {

		p, ul, ol {
			font-size: 0.7em;
		}

	}
}

.block__central {

	.entry-header {
		margin:1.4em 0 0.8em;;
	}

	.entry-title {
		border-bottom: 4px solid $color-principal;
		padding-bottom: 0.6em;
		margin: 0;
		@include font-size( 18px );
	}

	.block__apply--content {
		display: inline-block;
		width: 20em;
		text-align: center;

		.bt_apply {
			display: block;
			padding: 0.5em 0;
			color:#fff;
			text-decoration: none;
		}
	}

	h4 {
		padding-bottom:0.5em;
		border-bottom: 1px dotted #000;
		@include font-size( 14px );
	}

	a {
		color:$color-principal;
		text-decoration: underline;
	}

}