// SET UP YOUR VARIABLES IN THIS FILE
//Breakpoints

$break-point-phone : 44em;
$break-point-tablet : 61em;
$break-point-lap : 75em;

// Colours
// ------------------------------------------------------------

// Define your main colour palette
// principal

$color-principal : #29abe2;
$color-red : #FF0000;


//Typo
$typo-gris : #999999;
$typo-gris-light : #7b7b7b;
$typo-green : #22654c;


$primary							: #0d6d4d;
$secondary							: #222;	
$tertiary							: #444;


// Assign colours to variable roles
$base-color							: $primary;
$heading-color						: $secondary;
$secondary-heading-color			: $tertiary;



// Links
$action								: $primary;
$action-respond						: $secondary;
$secondary-action					: $action-respond;
$secondary-action-respond			: $action;